.container {
    margin: auto;
    
    max-width: 1600px;
    align-items: center;
    justify-content: center;    
}
.topHead{
    margin-top: 30px;
    margin-bottom: 50px;
    font-family:fantasy;
}
header {
    display: flex;
    background-color: #171717;
    text-align: center;
    font-size: 3rem;
    color: azure;
    
    
}

body {
    margin: 0PX;
    padding: 0px;
    width: 100%;
    background-color: #212121;
}

.contents {
    background-color: #212121;
}

* {
    font-family: Verdana;
    /* color: white; */
}
.addButton{
    color:black;
}
ul{
    margin-left: 90px;
    margin-right: 90px;
    border-top:solid;
    color: white;
    margin-top: 30px;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-width:1px ;
    padding-top: 50px;
    
}
li {
    padding: 10px;
    width: 700px;
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 16px;
    position:relative;
    
}
.timeInfo{
    padding-right:10px;
    border-right: solid;
    color:white;
    border-width: 1px;
    
}
.listItems{
    padding-left: 10px;
    flex:1;
    text-align: left;
    
}
.buttons{
    position: absolute;
    right: 0;
}
.buttonsItems{
    margin-right: 5px;
    padding:3px;
    padding-left: 8px;
    padding-right: 8px;
    border:solid;
    color:white;
    background-color: #212121;
    border-width: 2px;
    border-radius: 5px;
}

.taskInputTop {
    margin-top: 2%;
}

.inputFieldBox  {
    width: 30%;
    height: 40px;
    background-color: transparent;
    border-radius: 5%;
    border: 4px solid #67676B;
    color: white;
    margin-right: 10px;
    transition: all;
    transition-duration: 200ms;
    font-size: 20px;
    padding:5px;
    font-family: Candara;
}

.inputFieldBox:hover {
    transform: scale(1.05);
}

.inputFieldBox::placeholder {
    color: white;
    font-size: 20px;
    text-align: left;
    font-family: 'Century Gothic';
    font-style: italic;
}
.addTask {
    width: 70px;
    height: 60px;
    color: limegreen;
    background-color: gray;
    border: 4px solid #67676B;
    border-radius: 5%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    padding: 2px;
    transition: all;
    transition-duration: 200ms;
}
.addTask:hover {
    transform: scale(1.05);
}

form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


